dgl==0.6.1
matplotlib==3.5.1
matplotlib-inline==0.1.6
networkx==2.6.3
numpy==1.21.2
pathtools==0.1.2
pickle5==0.0.12
prompt-toolkit==3.0.38
protobuf==3.20.1
PyTDC==0.4.0
PyYAML==6.0
requests==2.27.1
requests-oauthlib==1.3.1
rsa==4.9
scikit-learn==1.0.2
scipy==1.7.3
seaborn==0.12.2
selfies==2.0.0
tensorboard-logger==0.1.0
tqdm
wandb
